body{
	background-image: url("../images/nenmenu.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.menu{
	margin: 14px 16px;
	background-color: #ccffcc;
	padding: 14px 16px;
}
.menu a{
	padding: 20px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	font-
}
.menu a:hover{
	color: #0066ff;
}
#logo{
	font-family: cursive;
}
.content{
	text-align: center;
	color: white;
	font-family: cursive;
	font-size: 24px;
	padding: 10px 10px 200px 10px;

}
.content button{
	color: #1a75ff;
	font-size: 18px;
	margin: 10px;
}
.content button:hover{
	background-color: #d6d6c2;
}
.content img{
	height: 200px;
	width: 350px;
}
.footer{
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	background-color: #000000;
	margin: 14px 16px;
}
.cfooter p:hover{
	color: #3399ff;
}
.gio{
	background-color: white;
	margin: 40px 200px 40px 200px;
	color: #4d79ff;
	
}
.gio button{
	font-size: 24px;
	margin: 50px 30px 50px 30px;
}
.content1{
	padding: 0px 0px 0px 400px;
}